{{!-- Nav --}}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mongo News Scraper</a>
        </div>
        <!-- Collect content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="/saved">Saved Articles</a></li>
                <li class="active"><a href="/saved/notes">Article Notes</a></li>
            </ul>
        </div>
    </div>
</nav>

{{!-- Main --}}
<div class="container">

    {{!-- Jumbotron --}}
    <div class="jumbotron">
        <h1>Article Notes</h1>
        <p>Your Comments on Saved Articles</p>
    </div>

    {{!-- Panel for each saved article --}}
    {{#each articles}}
    {{#if comments}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{this.title}}</h3>
        </div>
        <div class="panel-body">
            {{#each this.comments}}
                <p>{{this.comment}}
                    <button type="button" class="close" 
                    aria-label="Close"><span aria-hidden="true" class="remove-comment" id={{this.id}} data-articleId="{{this.articleId}}">&times;</span>
                    </button>
                </p>
            {{/each}}
        </div>
        <div class="panel-footer">
            <p><a href="{{this.link}}" target="blank">Link to Article</a></p>
        </div>
    </div>
    {{/if}}
    {{/each}}

    {{#unless comments}}
        <div class="panel panel-default">
            <div class="panel-body">No notes to display.</div>
        </div>
    {{/unless}}
</div>

{{!-- JavaScript --}}
<script type="text/javascript" src="/js/script.js"></script>